/* icon图标 */
.iconfont {
  font-size: 28px;
  position: relative !important;
  top: 5px;
}
.icon-GitHub {
  font-size: 26px;
  top: 2px;
}
.icon-gitee {
  font-size: 24px;
  top: 2px;
}
.icon-QQ1 {
  font-size: 32px;
}
.icon-youjian {
  font-size: 38px;
  top: 7px;
  right: 10px;
}
.icon-tubiaozhizuomoban- {
  font-size: 32px;
}
.icon-ruzhishijian {
  font-size: 24px;
}
.icon-biaoqian {
  font-size: 24px;
}
.icon-wenjianjia {
  font-size: 24px;
}
.icon-suiji {
  font-size: 24px;
}
.icon-yule {
  font-size: 24px;
}
.icon-shiguan {
  font-size: 24px;
}
.icon-List {
  font-size: 18px;
  top: 1px;
}

/*
.icon-book-full {
  font-size: 16px;
}*/
/*
.icon-gitee:before {
  content: "\e60c";
}*/

