@font-face {
  font-family: "iconfont"; /* Project id 3805964 */
  src: url('//at.alicdn.com/t/c/font_3805964_8pkj77shpxu.woff2?t=1670035833957') format('woff2'),
       url('//at.alicdn.com/t/c/font_3805964_8pkj77shpxu.woff?t=1670035833957') format('woff'),
       url('//at.alicdn.com/t/c/font_3805964_8pkj77shpxu.ttf?t=1670035833957') format('truetype');
}

.iconfont {
  font-family: "iconfont" !important;
  font-size: 20px;
  font-style: normal;
  position: relative !important;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-book-full {
  font-size: 16px;
}

.icon-book-full:before {
  content: "\e895";
}

.icon-QQ:before {
  content: "\e882";
}

.icon-gitee-fill-round:before {
  content: "\e686";
}

.icon-gitee:before {
  content: "\e60c";
}

